/*.bannerprincipal{
  background-image: url('/images/banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}*/


/*.Contacto{background: url(images/hero-image.jpg) no-repeat; background-position: top;}*/
